# clangd / vscode / idea caches
.cache/
.vscode/
.idea/

# Keil build output (any level)
**/Objects/
**/Listings/
**/DebugConfig/

# common build artifacts
*.o
*.d
*.crf
*.lst
*.map
*.axf
*.hex
*.bin

# temp/backup
*.bak
*.dep
*.uvguix.*